<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Types Of Cameras</title>
</head>

<body>

    <main>
      
      <header>
        <div id="header">
          <h1 class="main-header">Types Of Cameras</h1>
        </div>
      </header>

        <section id="dslr">
          <div class="label_wrapper">
            <h1 class="hidden">DSLR Cameras</h1>
            <object data="images/dslr.svg" type="image/svg+xml" class="svg-graphic dslr_banner" id="bottle"></object>
          </div>

          <div id="content box">
            <object data="images/camera1.svg" type="image/svg+xml" class="svg-graphic dslr_camera" id="bottle"></object>
            <span class="see-more" data-target="1">Click Here</span>
          </div>

          <div class="text-wrapper">
              <p>
                Dslr cameras are the staple for professionals.
              </p>
            </div>
        </section>

        <section id="mirroless">
          <div class="label_wrapper">
            <h1 class="hidden">Mirroless Cameras</h1>
            <object data="images/mirroless.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
          </div>

          <div id="content box2">
            <object data="images/camera2.svg" type="image/svg+xml" class="svg-graphic mirroless_camera" id="bottle"></object>
            <span class="see-more" data-target="2">Click Here</span>
          </div>

          <div class="text-wrapper">
            <p>
              Mirroless cameras are fairly new to the camera world and have made a huge impact on the industry. 
            </p>
          </div>
        </section>

        <section id="polaroid">
            <div class="label_wrapper">
                <h1 class="hidden">DSLR Cameras</h1>
                <object data="images/polaroid.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>

              <div>
                  <object data="images/camera3.svg" type="image/svg+xml" class="svg-graphic" id="polaroid_camera"></object>
                  <span class="see-more" data-target="3">Click Here</span>
              </div>

          <div class="text-wrapper">
            <p>
              Polaroid cameras are now becoming more and more popular with youth and young adults. 
            </p>
          </div>
        </section>

        <section id="bottom">
          <object data="images/bottom.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          <h3>References</h3>
          <p>https://shotkit.com/camera-industry-stats/</p>
        </section>
    </main>
    
</body>
  <script src="js/main.js"></script>
</html>