* { box-sizing: border-box; }

.container 
{
  margin: 0 auto;
  max-width: 1200px;
}

.popover { 
  display: none;
  position: absolute;
  /* top: 26%; */
  top: 1%;
  left: 0%;
  background-color: orange;
  width: 200px;
  height: 157px;
  z-index: 1;
  border-radius: 25px;
  padding: 8px;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
}

.show-popover { display: block; }

/* .see-more { 
  display: block; 
  padding: 12px 18px; 
  border-radius: 8px; 
  color: white; 
  background-color: rgb(255, 238, 0); 
  margin-top: 8px
} */

.see-more:hover{
  cursor: pointer;
  opacity: .9;
} 

/* -----------MY PROJECT STARTS HERE----------- */

p 
{
  font-family: 'Muli', sans-serif;
}

h1, h3
{
  font-family: 'Bebas Neue', cursive;
}

.hidden
{ 
  display: none; 
}

body
{
  background-color: #ffefd3;
}

.span
{
  position: relative;
}

#header
{
  background-color: #fdbc5c;
  height: 110px;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
}

.main-header
{
  padding-top: 30px;
}

.dslr_banner
{
  margin-top: 20px; 
}

.dslr_camera
{
  width: 30%;
  margin-left: 20px;
  margin-top: 10px;
}

.box
  {
    flex: 1 1 auto;
    justify-content: space-between;
  }

.see-more
{
  padding: 5px;
  border-radius: 20px;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 80px;
  font-family: 'Muli', sans-serif;
}

.mirroless_cameraBut
{
  margin-top: 150px;
}

.text-wrapper
{
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

.mirroless_camera
{
  position: relative;
  left: 60%;
  width: 30%;
  margin-top: 10px;
}

#mirroless 
{
  /* margin-top: 300px; */
}

#polaroid_camera
{
  width: 30%;
  margin-left: 20px;
  margin-top: 10px;
}

#bottom
{
  text-align: center;
}

#lens_inside
{
  animation: lens 1s ease;
}

@keyframes lens {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  } 
}





@media screen and (min-width: 640px){

  #header
{
  margin-top: -30px;
  font-size: 30px;
  height: 150px;
}

.main-header
{
  padding-top: 40px;
}

.dslr_banner
{
  margin-top: 80px; 
}

.see-more
{
  padding: 10px;
  margin-top: 30px;
  font-size: 17px;
}

.text-wrapper
{
  font-size: 17px;
}

#bottom h3 
{
  font-size: 25px;
}

#bottom p
{
  font-size: 16px;
  margin-top: -10px;
}

.popover { 
  top: 26%;
  top: 1%;
  width: 350px;
  height: 200px;
  padding: 15px;
  font-size: 15px;
}

}

@media screen and (min-width: 965px){

  /* No Need It Scales Perfect! */

  /* body
  {
    padding-left: 50px;
    padding-right: 50px;
  } */

  .popover { 
    position: absolute;
    /* top: 26%; */
    top: 1%;
    left: 3%;
    background-color: orange;
    width: 500px;
    height: 250px;
    font-size: 20px;
  }

}